# Toxin Explorer

### A pipeline used to explore and to generate a report of the predicted snake toxins

In [19]:
# Import module
import sqlite3
import pandas as pd
from Bio import SeqIO

In [22]:
# Getting inputs
multifasta = SeqIO.parse('SB0020CVL_toxhunt_selected_orfs_annotated_nts_uniq.fasta', 'fasta')
expression_level = pd.read_csv('SB0020CVL.expression.isoforms.results', sep='\t')

In [23]:
expression_level.head()

,transcript_id,gene_id,length,effective_length,expected_count,TPM,FPKM,IsoPct
0,TRINITY_DN10842_c1_g1_i1.p1|1-552(+)|BJAR454CT...,TRINITY_DN10842_c1_g1_i1.p1|1-552(+)|BJAR454CT...,552,377.68,2270.10,997.70,1340.46,100.0
1,TRINITY_DN10842_c1_g1_i2.p1|2-526(+)|BJAR454CT...,TRINITY_DN10842_c1_g1_i2.p1|2-526(+)|BJAR454CT...,525,350.68,8.77,4.15,5.58,100.0
2,TRINITY_DN16107_c2_g1_i8.p1|1020-1676(+)|BJAR4...,TRINITY_DN16107_c2_g1_i8.p1|1020-1676(+)|BJAR4...,657,482.68,8.34,2.87,3.86,100.0
3,TRINITY_DN16107_c2_g1_i9.p1|1020-1670(+)|BJAR4...,TRINITY_DN16107_c2_g1_i9.p1|1020-1670(+)|BJAR4...,651,476.68,146.97,51.18,68.76,100.0
4,TRINITY_DN16899_c2_g1_i5.p1|2-409(+)|BJAR454CT...,TRINITY_DN16899_c2_g1_i5.p1|2-409(+)|BJAR454CT...,408,233.68,0.00,0.00,0.00,0.0

In [39]:
my_dict = {}

for fasta in multifasta:
    name, sequence = fasta.id, str(fasta.seq)
    lenght_seq = len(sequence)
    
    print(fasta)

In [2]:
# Creating a connection
con = sqlite3.Connection('toxins.db')

In [3]:
type(con)

sqlite3.Connection

In [4]:
# Creating a cursor - to be able to access all data
cur = con.cursor()

In [5]:
type(cur)

sqlite3.Cursor

In [11]:
sql_create = 'create table toxins\
(id integer primary key,\
sample_id varchar(15),\
toxin_family varchar(20),\
seq_size integer,\
expression real,\
transcript_id varchar(200),\
seq text)'

In [12]:
sql_create

'create table toxins(id integer primary key,sample_id varchar(15),toxin_family varchar(20),seq_size integer,expression real,transcript_id varchar(200),seq text)'